<div class="card card-body p-4 rounded-0 bg-dark text-white">
    <h3>Añade una tarea</h3>
    <form action="/tasks/add" method="POST">
        <div>
            <label for="title">Escribi un titulo</label>
            <input type="text" name="title" placeholder="Titulo" class="form-control rounded-0 bg-dark text-white">
        </div>
        <div>
            <label for="description">Añade descripcion</label>
            <textarea name="description" placeholder="Descripcion" id="" cols="30" rows="10" class="form-control rounded-0 bg-dark text-white"></textarea>
        </div>
        <button class="btn btn-primary btn-sm mt-2">Add</button>


    </form>
</div>